// Specific CSS for your home-page
.d-container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.d-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  p {
    margin-top: 30px;
    font-size: 30px;
  }
}
